* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

header {
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
  background-color: #652b7c;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.flex {
  display: flex;
}

header,
header ul,
header > div,
.main-container section .flex {
  align-items: center;
}

.logo-container {
  display: flex;
  width: min(80vw, 500px);
  flex-direction: column;
}

.logo:not(.logo-big):active {
  color: rgba(255, 255, 255, 0.8);
}

header > div,
header ul {
  gap: 20px;
}

header ul a {
  text-decoration: none;
  color: white;
}

header ul a:focus {
  transform: scale(0.9);
}

header ul a:hover {
  color: rgba(255, 255, 255, 0.7);
}

header ul li:active {
  transform: scale(0.9);
}

.form {
  width: 100%;
  position: relative;
}

.autocomplete-list {
  display: none;
  max-height: 200px;
  width: 100%;
  top: 32px;
  left: 0;
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.autocomplete-hero {
  top: 36px;
}

.autocomplete-item {
  padding: 8px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.autocomplete-uni {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.autocomplete-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.autocomplete-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.autocomplete-item:not(:last-child) {
  border-bottom: 1px solid grey;
}

.sub-input {
  width: 250px;
  padding: 5px 20px 5px 5px;
  appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.clear-search-input {
  position: absolute;
  right: 6px;
  top: 4px;
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

main > h2 {
  margin-bottom: 10px;
}

main > section {
  min-height: 90vh;
}

.hero-section {
  align-self: normal;
  display: flex;
  justify-content: center;
  background: url("./University_of_Delhi.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  backdrop-filter: blur(15px);
}

.form .hero-input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(101, 43, 124, 0.7);
}

.logo {
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin: 0;
}

.logo-big {
  font-size: 4rem;
  color: #652b7c;
  border: 4px solid #652b7c;
  border-bottom: none;
  text-align: center;
  padding: 5px 10px;
}

.tagline {
  color: white;
  font-size: 0.9rem;
  background-color: #652b7c;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
}

.links-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: min(1100px, 90vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.section-header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
  gap: 10px;
}

.list-links {
  flex-direction: column;
}

.list-links li {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.list-links li:hover {
  box-shadow: 5px 2px 10px rgb(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.list-links li a {
  cursor: pointer;
}

.file-link,
.subject-link {
  color: #454e81;
  font-weight: 500;
}

.subject-link {
  font-size: 0.95rem;
}

.uploader-link {
  font-size: 0.9rem;
}

.file-link:hover,
.subject-link:hover,
.uploader-link:hover {
  text-decoration: underline;
  color: rgb(0 139 139);
}

.uploader-link {
  color: rgba(0, 0, 0, 0.6);
}

.uploader-link:hover {
  color: rgba(0, 0, 0, 0.9);
}

.upload-form {
  flex-direction: column;
  gap: 8px;
  width: min(90vw, 400px);
}

.upload-form input:not([type="file"]),
select,
button {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.upload-form div {
  justify-content: space-between;
  gap: 5px;
}

.upload-form div:first-of-type > * {
  flex: 1;
}

.upload-form div:last-of-type {
  font-size: 0.9rem;
}

.input-text-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.input-text-container label {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 5px;
  color: grey;
  transition: all 0.1s ease-in-out;
}

.input-text-container input {
  outline: none;
  transition: all 0.1s ease-in-out;
}

.input-text-container input.active {
  border: 1px solid blue;
}

select {
  outline: none;
}

.valid {
  border: 1px solid green !important;
}

.invalid {
  border: 1px solid red !important;
}

.disabled {
  border: 1px solid grey;
  color: grey;
}

.input-text-container input:focus ~ label,
.input-text-container .has-text {
  transform: scale(0.7);
  top: -10px;
  left: -6px;
  background-color: white;
}

.input-text-container > input {
  width: 100%;
}

.input-text-container input.active:focus ~ label {
  color: blue;
}

.input-text-container input.valid:focus ~ label,
input.valid ~ .has-text {
  color: green;
}

.input-text-container input.invalid:focus ~ label,
input.invalid ~ .has-text {
  color: red;
}

.upload-form .flex .flex {
  flex-direction: column;
}

.err {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
}

.response-msg {
  margin-top: 15px;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: grey;
  display: none;
}

.card {
  min-width: 300px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0 5px 5px;
}

.card-header h3 {
  font-weight: bold;
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-key {
  font-weight: 500;
  flex-basis: 33%;
}

.card-value {
  flex-basis: 66%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer button,
.card-header button {
  cursor: pointer;
}

.card-footer button:active,
.card-header button:active {
  transform: scale(0.9);
}

.container {
  width: 100%;
  min-height: 90vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: space-around;
  padding: 0 30px 30px;
  gap: 15px;
}

.course-files-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 20px 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}

.course-files-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
